

/* body {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #03a9f4;
  display: -webkit-flex;
  display: flex;
  font-family: "Bitter", serif;
}
*/

#my_starting_screen {

  
  padding-left: 10px;
  padding-right: 10px;
}


body {
  background: #F0F0F0;
}

.start-fonts {
  color: #fff;
}

.start-welcome {
  color: #000;
}

@media screen and (max-width: 700px) and (min-width: 200px){
  .start-fonts {
    font-size: 8vw;
  }
}

@media screen and (min-width: 700px){
  .start-fonts {
    font-size: 8vh;
  }
}

@media (max-aspect-ratio: 8/5) {
  .start-fonts {
    font-size: 6vh;
  }
}

@media screen and (max-width: 200px){
  .start-fonts {
    font-size: 2vw;
  }
}

/* general form styling */
.container {
  margin: 0 auto;
}

.start-button2 {
 background-color: #2E8B57;
 border: none;
 color: white;
 text-align: center;
 display: inline-block;
}

.start-top-space {
  height: 25vh;
  overflow: auto;  
}

.start-button {
  margin-left: 0px;
  padding-left: 0px;

  width:  70vw;
  height: 20vh;
  text-align: center;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #17aded;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    font-size: 10vh;
    border: solid 2px #00557a;
    text-transform: uppercase;
}

.start-button:active {/*on Click*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

@media (max-aspect-ratio: 5/5) {
  .start-button {
    font-size: 8vw;
  }
}

@media (max-aspect-ratio: 8/5) {
  .start-top-space {
    height: 10vh;
    overflow: auto;
  }
}
