/*
vw: 1/100th viewport width
vh: 1/100th viewport height
vmin: 1/100th of the smallest side
vmax: 1/100th of the largest side
*/

body {
  background: #F0F0F0;
}

.my-video-screen 
{
  width: 80vw;
}

@media (min-aspect-ratio: 6/5) { /*width over height is larger than 6/5 than do this 960 x 540 movie size*/
  .my-video-screen 
{
  height: 73.45vh;
  width: 100vw;
  width: 80vw;
}

@media (max-aspect-ratio: 8/5) {
  .start-fonts {
    font-size: 8vh;
  }
}
    

