<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Customer Acquisition</h1>
          <p class="lead">Create and send stories to answer questions and promote business opportunities</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <a href="/callcenter1">
                    <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/yilmazerd/htmlmovieapp/master/files/4392%20-%2024%20Hour%20Support.png">
                  </a>
                  <h5 class="text-secondary text-center"><b>Calling to Center</b></h5>
                </div>
              </div>
              <p>Advise customers calling to the call center and promote new business opportunities</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/yilmazerd/htmlmovieapp/master/files/4388%20-%20Outgoing%20Call.png">
                  <h5 class="text-secondary text-center"><b>Calling to Close</b></h5>
                </div>
              </div>
              <p>Promote new business opportunities</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/yilmazerd/htmlmovieapp/master/files/4419%20-%20Email%20on%20Laptop.png">
                  <h5 class="text-secondary text-center"><b>Email Reach</b></h5>
                </div>
              </div>
              <p>Reach out as a respond to emails, help with questions and promote new business opportunities</p>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="">----</h1>
          <h1 class="mb-4 text-primary">Customer Onboarding</h1>
          <p class="lead">Create and send stories to answer questions and promote business opportunities</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/yilmazerd/htmlmovieapp/master/files/4399%20-%20Customer%20Data.png">
                  <h5 class="text-secondary text-center"><b>Check List</b></h5>
                </div>
              </div>
              <p>Check list to prevent cancellations</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <img class="img-fluid d-block mx-auto" src="https://raw.githubusercontent.com/yilmazerd/htmlmovieapp/master/files/4398%20-%20Configurations.png">
                  <h5 class="text-secondary text-center"><b>Fix an issue</b></h5>
                </div>
              </div>
              <p>Customer is calling with an issue in his reservervation</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary text-center"></h5>
                </div>
              </div>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      </div>
    </div>
  </div>
</body>

</html>